.container{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.counter{
  display: flex;
}
button{
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}
.button{
  width: 40px;
}